#navbar{
    background-color: #2C3F4F;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.navbar .navbar-nav .nav-link{
    font-size: 1.15rem;
    color: white;
    
}

.nav-link:hover{
    color: #b8b8b8;
}